/* Popup container - can be anything you want */
.CellWithComment {
    position: relative;
    margin: 0px;
    z-index: 500;
}

.CellComment {
    min-width: 150px;
    visibility: hidden;
    position: absolute;
    z-index: 500;
    text-align: Left;
    opacity: 0.4;
    background-color: #ffffff;
    top: 5px;
    left: 5px;
    margin: 0px;
    border: 2px solid #b3b3b3;
    border-radius: 12px;
}

.CellWithComment:hover span.CellComment {
    visibility: visible;
    position: absolute;
    opacity: 1;
}

.CellWithComment:hover {
    position: absolute;
    opacity: 1;
}

.LitLib {
    cursor: pointer;
}